body{
margin:0;
font-family:Arial;
background:black;
color:white;
overflow:hidden;
}

canvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.content{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
}

h1{
font-size:60px;
}

p{
font-size:20px;
opacity:0.8;
}
